<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item" (click)="goToLaptop()" style="color: white;" class="nav-link">AddLaptop
        </li>
        <li class = "nav-item" (click)="goToBrandList(showroomId)" style="margin-left: 1160px;color: white;"class="nav-link" >Back
            <!-- style="margin-left: 1100px;"  -->
        </li>

        <li class = "nav-item" (click)="goToHomepage()" style="margin-left: 60px;color: white;" class="nav-link" >BackToHompage
            
        </li>
       
    </ul>

</nav>
<h2> Laptop  List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th> LaptopName </th>
            <th> Price</th>
            <th> Version</th>

            <th> Action</th>
        </tr>

    </thead>

    <tbody>
        <tr *ngFor="let laptop of laptops ">
            <td> {{ laptop.laptopName }} </td>
            <td> {{ laptop.price }} </td>
            <td> {{ laptop.version }} </td>

            <td>
                <button (click)="updatelaptop(laptop.laptopId)" class="btn btn-success"> Update</button>
                <button (click)="deletelaptop(laptop.laptopId)" class="btn btn-danger " style="margin-left: 10px">
                    Delete</button>

                <button (click)="laptopDetails(laptop.laptopId)" class="btn btn-info " style="margin-left: 10px">
                    View</button>


            </td>
        </tr>
    </tbody>
</table>