<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="javascript:void(0);" routerLink="/">Hello</a>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto"  >
            <li class="nav-item"><a href="javascript:void(0);" routerLink="/register"  class="nav-link" >Register</a></li>
            <li><a class="nav-link" href="javascript:void(0);" routerLink="/login" >Login</a></li>
            <!-- <li><a class="nav-link" href="javascript:void(0);"  (click)="logout()" >Logout</a></li> -->
        </ul>

    </div>
  </nav>