<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="javascript:void(0);" routerLink="/">Welcome</a>
    <li class="nav-item" (click)="goToAdmin()" style="color: white ; font-size: 2ch;" class="nav-link"> Admin

    </li>
    <!-- <li class = "nav-item" (click)="goToHomepage()"  style="margin-left: 1100px;"   class="nav-link" >BackToHompage
            
    </li> -->

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto"  >
           
           
        </ul>

    </div>
  </nav>