<div class="col-md-6 offset-md-3">
    <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
        <ul class="navbar-nav">
            <li class = "nav-item" (click)="goToLaptopList()" class="nav-link" > Laptop List
            </li>

        </ul>
    </nav>
    <h3> Create Laptop </h3>
    <div [hidden]="!submitted" class="serach"> 
    <form #f="ngForm"  (ngSubmit)="onSubmit()">


        <div class="form-group">
            <label> LaptopName</label>
            <input  required placeholder=""type="text" class="form-control" id="laptopName" [(ngModel)]="laptopName" name="laptopName">
        </div>

        <div class="form-group">
            <label> Price</label>
            <input  required placeholder="" type="text" class="form-control" id="price" [(ngModel)]="laptopPrice" name="price">
        </div>

        <div class="form-group">
            <label> Version</label>
            <input  required placeholder="" type="text" class="form-control" id="version" [(ngModel)]="laptopVersion" name="version">
        </div>
        <br>
        <button  [disabled]="f.invalid" class="btn btn-success" type="submit">Submit</button>
    </form>
</div>










































































<!-- <div class="t">
    <div class="left-container">
        <div class="update">
            <button class="btn btn-primary button">update</button>
        </div>
        <div class="Delete">
            <button class="btn btn-primary button">Delete</button>
        </div>
        <div class="update">
            <button class="btn btn-primary button">action</button>
        </div>
    </div>
    <div class="right-container">
        <form class="form-class">
            <div class="form-group1">
                <label class="a">LaptopName</label>
                <input type="text" class="form-control" id="laptopName" name="laptopName">
            </div>
            <div class="form-group2">
                <label class="a">Version</label>
                <input type="text" class="form-control" id="version" name="version">
            </div>
            <div class="form-group3">
                <label class="a">Price</label>
                <input type="text" class="form-control" id="price" name="price">
            </div>
        </form>
    </div>
</div>
 -->