<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
    <ul class = "navbar-nav">
        <!-- <li class = "nav-item" (click)="goToShowroomList()" class="nav-link" >ShowroomList
           
        </li> -->
        <li class = "nav-item" (click)="goToShowroom()" class="nav-link" >AddShowroom
            
        </li>

        <li class = "nav-item" (click)="onLogOut()" style="margin-left: 1200px;" class="nav-link" >LogOut
            
        </li>
        

    </ul>
  </nav>
<h2> Showroom List </h2>
<table class = "table table-striped">
    <thead>
        <tr>
            <th> LaptopShowroomName </th>
            <th> Location</th>
            <th> PhoneNumber</th>
            <th> Action</th>
        </tr>
    </thead>

<tbody>
    <tr *ngFor="let showroom of showrooms ">
        <td> {{ showroom.laptopShowroomName }} </td>
        <td> {{ showroom.location }} </td>
        <td> {{ showroom.phoneNumber }} </td>
        <td>
            <button (click) = "updateShowroom(showroom.showroomId)" class="btn btn-outline-secondary"> Update</button>
            <button (click) = "deleteShowroom(showroom.showroomId)" class="btn btn-outline-danger " style="margin-left: 10px">
                Delete</button>
            
                <!-- <button (click) = "showroomDetails(showroom.showroomId)" class="btn btn-info " style="margin-left: 10px"> </button> -->
 
          <button (click)="goToBrandList(showroom.showroomId)" for="brands " style="margin-left: 10px"
                    class="btn btn-outline-warning">Brand</button>
    
            </td>
    </tr>
</tbody>
</table>