




<!-- blow this code is orignal dont't change it-->

<!-- -------------------------------------------------------------------------------------- -->


<!-- ShowRoom HTML -->

<!-- <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class = "navbar-nav">
      <li class = "nav-item">
          <a routerLink="showrooms" routerLinkActive="active" class="nav-link" >Showroom List</a>
      </li>
      <li class = "nav-item">
          <a routerLink="create-showroom" routerLinkActive="active" class="nav-link" >Add Showroom</a>
      </li>
  </ul>
</nav> -->
<!-- ------------------------------------------------------------------------- -->



<!-- <h1 class="text-center"> {{title}} </h1>
<div class = "container"> -->
  <router-outlet></router-outlet>
<!-- </div>
<footer class = "footer">
  <div class = "container">
      <span></span>
  </div>
</footer> -->

<!-- ------------------------------------------------------------------------------------- -->
