.serach {
    width: 300px;
  
    margin-left: 540px;
  
  }
  
  .box{
    margin-top: 100px;
    /* background-color: white; */
    height: 160px;
  }
  .box1{
margin-left: 510px;
  }
  .nav{
    background-color: black;
  }
.image{
  background-image: url("img/s14.jpg");
  position: absolute;
  background-position: center;
  background-size: cover;
  width: 1518.1px;
  height: 672px;
}